<div id="root"></div>

<script>
  window.images = {
    logo: "<%= asset_path('logo.png') %>",
    asana: "<%= asset_path('asana-icon.png') %>",
    atlassian: "<%= asset_path('atlassian-icon.png') %>",
    bluechat: "<%= asset_path('blue-chat-icon.png') %>",
    dropbox: "<%= asset_path('dropbox-icon.png') %>",
    google: "<%= asset_path('google-icon.png') %>",
    greenchat: "<%= asset_path('green-chat-icon.png') %>",
    hubspot: "<%= asset_path('hubspot-icon.png') %>",
    redchat: "<%= asset_path('red-chat-icon.png') %>",
    yellowchat: "<%= asset_path('yellow-chat-icon.png') %>",
    zendesk: "<%= asset_path('zendesk-icon.png') %>",
    zoom: "<%= asset_path('zoom-icon.png') %>",
    pluscircle: "<%= asset_path('plus-circle.png') %>",
    yui: "<%= asset_path('yui.gif') %>"
  }
</script>